.logo {
  display: flex;
  flex-shrink: 0;
}

.logoImage {
  width: auto;
  height: 7rem;
  max-width: 22rem;
  object-fit: contain;
}

/* BELOW 1050px */
@media (max-width: 65.625rem) {
  .logoImage {
    height: 12rem;
    max-width: 28rem;
  }
}

/* BELOW 544px */
@media (max-width: 34rem) {
  .logoImage {
    height: 13rem;
    max-width: 42rem;
  }
}
