.logo {
  display: flex;
  flex-shrink: 0;
}

.logoImage {
  width: 12rem;
  height: 7rem;
  object-fit: fill;
}

/* BELOW 1050px */
@media (max-width: 65.625rem) {
  .logoImage {
    width: 16rem;
    height: 11rem;
  }
}
