.logo {
  display: flex;
  flex-shrink: 0;
}

.logoImage {
  width: 16rem;
  height: 7rem;
  object-fit: fill;
}

/* BELOW 1050px */
@media (max-width: 65.625rem) {
  .logoImage {
    width: 24rem;
    height: 10rem;
  }
}

/* BELOW 544px */
@media (max-width: 34rem) {
  .logoImage {
    width: 22rem;
    height: 9.5rem;
  }
}
